@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(./fonts/Roboto-Regular.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* Image header */
.image-header {
  padding: 0;
}
/* Navbar */
.dtn-navbar {
  background-color: #0058c0;
  padding: 0;
}

.dtn-navbar-content {
  padding: 0 !important;
}

.dtn-navbar .navbar-list {
  list-style-type: none;
}

.navbar-list .nav-item {
  font-size: 0.8em;
  padding: 14px 12px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #dde4f3;
}

.navbar-list .nav-item:hover {
  background-color: #41a2eb;
  cursor: pointer;
}

section.dtn-left {
  padding: 0;
}
.dtn-main {
  margin-top: 12px;
}
/* Tieu diem */
.dtn-tieudiem {
  border-bottom: 1px solid #e53f3f;
  margin-bottom: 10px;
}
.dtn-tieudiem-icon {
  padding-left: 5px;
}
.dtn-tieudiem-content {
  padding-top: 10px;
  padding-left: 13px;
}

.dtn-tieudiem-content .dtn-tieudiem-title {
  font-size: 15px;
  margin: auto;
  font-weight: 600;
}
.dtn-tieudiem-content .dtn-tieudiem-text {
  font-size: 15px;
  font-weight: 400;
  color: #e53f3f;
}
/* Major news */
.dtn-major-news-content {
  background-color: #ebebeb;
  padding-top: 15px;
  padding-left: 20px;
}
.dtn-major-news {
  border: none !important;
}
.dtn-major-views-counter {
  margin-left: 30px;
}
.dtn-major-news-date {
  font-size: 13px;
}
.dtn-major-news-title {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.dtn-major-news-desc {
  font-size: 14px;
}
.carousel-control-prev.next-slide {
  left: 90%;
  top: 3.5%;
  bottom: 90;
}

.carousel-control-next.prev-slide {
  top: 3.5%;
  right: 2%;
}

.carousel-control-next.prev-slide,
.carousel-control-prev.next-slide {
  opacity: 1;
  height: 4%;
  width: 3%;
}
/* Doi thoai */
.dtn-doithoai,
.dtn-ct3 {
  border: 1px solid gainsboro;
  margin-bottom: 20px;
}
.dtn-doithoai {
  margin-top: 20px;
}
.dtn-doithoai-main,
.dtn-ct3-main {
  margin: 0 !important;
  width: 100%;
}
.dtn-doithoai-main {
  margin: 15px 0px 0px 0px !important;
}
.dtn-doithoai-banner {
  width: 100%;
}
.dtn-doithoai-major-image {
  position: relative;
  padding: 0;
}
.dtn-doithoai-major-image .dtn-badge-title {
  position: absolute;
  top: 5%;
  margin-left: -2px;
}

.dtn-doithoai-major-content {
  padding: 0;
  background-color: #e9f5ff;
}

.dtn-doithoai-major-content .dtn-doithoai-major-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.dtn-badge-text {
  position: absolute;
  font-size: 16px;
  top: 15%;
  color: white;
  left: 5%;
  text-transform: uppercase;
}

.dtn-doithoai-major-title {
  font-size: 15px;
  font-weight: 600;
}
.dtn-doithoai-major-time {
  font-size: 13px;
}
.dtn-doithoai-major-desc {
  font-size: 13px;
}
.dtn-doithoai-sub-card {
  width: 100%;
  border: none;
}
.dtn-doithoai-sub-content {
  display: flex;
  justify-content: space-around;
}
.dtn-doithoai-sub-card .dtn-doithoai-sub-image {
  padding: 10px;
}

/* Sub content */
.dtn-doithoai-sub-body {
  padding-top: 6px;
}
.dtn-doithoai-sub-title {
  font-weight: 400;
  display: -webkit-box;
  max-width: 150px;
  margin: 0 auto;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.dtn-doithoai-sub-text {
  color: #969696;
  font-size: 12px;
}
/* Chuong trinh ba */
.chuong-trinh-ba {
  background: url("./images/title-badge.png");
}

.dtn-ct3-sub-content {
  margin-top: 20px;
}
.dtn-ct3-sub-navs {
  margin-left: 10px;
}
.dtn-ct3-nav-link {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #41a2eb;
  text-decoration: underline;
}
.dtn-ct3-nav-link.active {
  color: #41a2eb !important;
  border: 1px solid #41a2eb !important;
  background-color: white !important;
  text-decoration: none;
}
.dtn-ct3-sub-nav-item {
  margin-right: 15px;
}