@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(./fonts/Roboto-Regular.ttf) format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* Image header */
.image-header {
  padding: 0;
}
/* Navbar */
.dtn-navbar {
  background-color: #0058c0;
  padding: 0;
}

.dtn-navbar-content {
  padding: 0 !important;
}

.dtn-navbar .navbar-list {
  list-style-type: none;
}

.navbar-list .nav-item {
  font-size: 0.8em;
  padding: 14px 12px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #dde4f3;
}

.navbar-list .nav-item:hover {
  background-color: #41a2eb;
  cursor: pointer;
}

section.dtn-left {
  padding: 0;
}
.dtn-main {
  margin-top: 12px;
}
/* Tieu diem */
.dtn-tieudiem {
  border-bottom: 1px solid #e53f3f;
  width: 100%;
  margin-bottom: 10px;
}
.dtn-tieudiem-icon {
  padding-left: 5px;
}
.dtn-tieudiem-content {
  padding-top: 10px;
  padding-left: 13px;
}

.dtn-tieudiem-content .dtn-tieudiem-title {
  font-size: 15px;
  margin: auto;
  font-weight: 600;
}
.dtn-tieudiem-content .dtn-tieudiem-text {
  font-size: 15px;
  font-weight: 400;
  color: #e53f3f;
}
/* Major news */
.dtn-major-news-content {
  background-color: #ebebeb;
  padding-top: 15px;
  padding-left: 20px;
}
.dtn-major-news {
  border: none !important;
}
.dtn-major-views-counter {
  margin-left: 30px;
}
.dtn-major-news-date {
  font-size: 13px;
}
.dtn-major-news-title {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.dtn-major-news-desc {
  font-size: 14px;
}
.carousel-control-prev.next-slide {
  left: 90%;
  top: 3.5%;
  bottom: 90;
}

.carousel-control-next.prev-slide {
  top: 3.5%;
  right: 2%;
}

.carousel-control-next.prev-slide,
.carousel-control-prev.next-slide {
  opacity: 1;
  height: 4%;
  width: 3%;
}
/* Doi thoai */
.dtn-doithoai,
.dtn-ct3 {
  border: 1px solid gainsboro;
  margin-bottom: 20px;
  background-color: white;
}
.dtn-doithoai {
  margin-top: 20px;
}
.dtn-doithoai-main,
.dtn-ct3-main,
.dtn-xdd-main {
  margin: 0 !important;
  width: 100%;
  position: relative;
}
.dtn-doithoai-main {
  margin: 15px 0px 0px 0px !important;
}
.dtn-doithoai-banner {
  width: 100%;
}
.dtn-doithoai-major-image {
  position: relative;
  padding: 0;
}
.dtn-doithoai-major-image .dtn-badge-title {
  position: absolute;
  top: 5%;
  margin-left: -2px;
}

.dtn-doithoai-major-content {
  padding: 0;
  background-color: #e9f5ff;
}

.dtn-doithoai-major-content .dtn-doithoai-major-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.dtn-badge-text {
  position: absolute;
  font-size: 16px;
  top: 15%;
  color: white;
  left: 5%;
  text-transform: uppercase;
}

.dtn-doithoai-major-title {
  font-size: 15px;
  font-weight: 600;
}
.dtn-doithoai-major-time {
  font-size: 13px;
}
.dtn-doithoai-major-desc {
  font-size: 13px;
}
.dtn-doithoai-sub-card {
  width: 100%;
  border: none;
}
.dtn-doithoai-sub-content {
  display: flex;
  justify-content: space-around;
}
.dtn-doithoai-sub-card .dtn-doithoai-sub-image {
  padding: 10px;
}

/* Sub content */
.dtn-doithoai-sub-body {
  padding-top: 6px;
}
.dtn-doithoai-sub-title {
  font-weight: 400;
  display: -webkit-box;
  max-width: 150px;
  margin: 0 auto;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.dtn-doithoai-sub-text {
  color: #969696;
  font-size: 12px;
}
/* Chuong trinh ba */
.chuong-trinh-ba {
  background: url("./images/title-badge.png");
}

.dtn-ct3-sub-content {
  margin-top: 20px;
}
.dtn-ct3-sub-navs {
  margin-left: 10px;
}
.dtn-ct3-nav-link {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #41a2eb;
  text-decoration: underline;
}
.dtn-ct3-nav-link.active {
  color: #41a2eb !important;
  border: 1px solid #41a2eb !important;
  background-color: white !important;
  text-decoration: none;
}
.dtn-ct3-sub-nav-item {
  margin-right: 15px;
}

/* badge */
.badge-border {
  width: 0px;
  height: 0px;
  border-left: 15px solid #41a2eb;
  border-right: 15px solid transparent;
  border-top: 15px solid #41a2eb;
  border-bottom: 15px solid #41a2eb;
}
.badge-xdd-border {
  width: 0px;
  height: 0px;

  border-left: 15px solid #d71a1a;
  border-right: 15px solid transparent;
  border-top: 15px solid #d71a1a;
  border-bottom: 15px solid #d71a1a;
}
.dtn-badge-xx {
  min-width: 70px;
  background-color: #41a2eb;
  padding-left: 20px;
  padding-top: 6px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.dtn-badge {
  margin-left: -5px;
  position: absolute;
  top: 5%;
  z-index: 1000;
}
/* Xay dung doan */
.dtn-xdd-major-desc {
  line-height: 26px;
  font-weight: 400;
  display: -webkit-box;
  margin: 0 auto;
  font-size: 13px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  color: #8c8c8c;
}

.dtn-xdd-major-title {
  font-weight: 600;
  font-size: 16px;
}

.dtn-xdd-major-content {
}

.dtn-xdd-major-title {
  margin-bottom: 0.1rem;
}

.dtn-xdd-major-text {
  padding-top: 12px;
}

.dtn-doithoai-major-time {
  font-size: 12px;
}

.dtn-xdd-major-desc {
  padding-top: 10px;
}

.dtn-xdd-badge {
  margin-left: -5px;
  position: absolute;
  top: 3%;
  z-index: 1000;
}
.dtn-xdd-sub-content {
  background-color: #d71a1a;
  padding-top: 10px;
  padding-bottom: 8px;
  padding: 10px 0px 8px 0px;
  border-left: 1px solid gainsboro;
}
.dtn-xdd-sub-body {
  padding-bottom: 0;
  padding-top: 5px;
}

.dtn-xdd-sub-image {
  width: 169px;
  padding: 10px 0px 0px 10px;
  height: 100px;
}
.dtn-xdd-sub-title {
  font-weight: 400;
  display: -webkit-box;
  max-width: 150px;
  margin: 0 auto;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dtn-xdd-sub-card {
  background-color: #d71a1a;
  color: white;
  border: none;
}

.dtn-xdd-sub-text {
  color: white;
  font-size: 12px;
}

.dtn-button {
  padding-top: 10px;
  font-size: 12px;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 8px;
}

.dtn-button-bold {
  font-weight: 600;
  margin: 0;
}

.dtn-button-icon {
  width: 31px;
  margin-top: 5px;
  margin-right: 8px;
}

.dtn-button-text {
  text-align: left;
}
/* Set button color */
.dtn-button-lct {
  border: 1px solid #1c9cc7;
  background: linear-gradient(#32a7e6, #74eff7);
}

.dtn-button-vb {
  border: 1px solid #f2be4e;
  background: linear-gradient(#ecd266, #fbf6a7);
}

.dtn-button-vp {
  border: 1px solid #82eb66;
  background: linear-gradient(#70ec9d, #c7fbb1);
}

.button-group {
  margin-bottom: 14px;
}

/* news navs */
.dtn-news-navs {
  background-color: #359ae5;
  padding-left: 16px;
  padding-right: 12px;
  padding-bottom: 8px;
}

.dtn-news-tab-list {
  border: none;
}
.dtn-news-tab-link {
  color: white;
  background: #359ae5;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

.dtn-news-tab-link:hover {
  border: none;
  color: white;
}
.dtn-news-tab-link.active {
  background-color: #d71a1a !important;
  color: white !important;
  border: none;
}

.dtn-news-card-image {
  border: 1.5px solid white;
}

.dtn-news-content {
  margin-top: 10px;
}

.dtn-news-card {
  margin-bottom: 14px;
  padding-right: 15px;
}

.dtn-card-text {
  padding: 0;
}

.dtn-card-title {
  font-size: 13px;
  color: gainsboro;
  padding-bottom: 6px;
}
.dtn-card-time {
  font-style: italic;
  font-size: 12px;
  color: gainsboro;
}
/* Videos */
.dtn-videos {
  margin-top: 10px;
}

.dtn-videos-link.active {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.dtn-videos-ad,
.dtn-videos-vd {
  color: white !important;
  font-weight: 400;
  border-radius: 10%;
  font-size: 14px;
}

.dtn-videos-ad:hover,
.dtn-videos-vd:hover {
  border: none;
}
.dtn-videos-ad.active,
.dtn-videos-vd.active {
  border: none;
  background: rgba(255, 255, 255, 0.25) !important;
}
.dtn-videos-tab {
  justify-content: center;
  border: none;
  background-color: #1b81cd;
  padding: 6px;
}

.dtn-videos-major {
  position: relative;
}

.dtn-videos-play {
  position: absolute;
  top: 30%;
  left: 40%;
  cursor: pointer;
}

.dtn-videos-vd-description {
  background: linear-gradient(transparent, black);
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  padding-left: 10px;
}
.dtn-videos-vd-description .video-title {
  font-weight: 600;
  font-size: 16px;
}
.dtn-videos-vd-description .video-time {
  font-size: 12px;
  font-style: italic;
  color: white;
}
.dtn-videos-vd-sub-content {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: #1b81cd;
}

.circle {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin-right: 8px;
}

.circle.active {
  width: 10px;
  height: 10px;
  background: #005ea4;
  border: 1px solid white;
  border-radius: 50%;
}
